 
 /* --------------------------------- Le Conteneur ----------------------------------- */
.contenu_session_membre
{
  margin:auto;
  padding:7px;  
}
					   
					   
 /* --------------------------  Zone et Images de profile  -------------------- */	   					 
.espace_membre_acsore
{
  font-size:30px;
  font-weight:bold;
  background-color:#0071b9;
  color:white;
  margin:auto;
  margin:38px;
  text-align:center;
  position:relative;
}

					   
.espace_membre_acsore:before
{
  content:"";
  border-left:15px solid transparent;
  border-right:15px solid #0071b9;
  border-top:15px solid #0071b9;
  border-bottom:15px solid transparent;
  width:0px;
  position:absolute;
  top:100%;
  left:0;
}
		  
		  
.espace_membre_acsore:after
{
  content:"";
  border-left:15px solid #0071b9;
  border-right:15px solid transparent;
  border-top:15px solid #0071b9;
  border-bottom:15px solid transparent;
  width:0px;
  position:absolute;
  top:100%;
  right:0;
}

		  
.zone_information_urgente
{
  width:98%;
  min-height:220px
  max-height:350px;	
  margin:auto;
  margin-top:20px;
  padding:5px;
  text-align:justify;
  color:grey;
  border:2px dotted pink;	
  font-size:13px;
  border-radius:5px;
  overflow: scroll;
// position:absolute;
}
				  
.zone_information_urgente .first-span
{
  background-color:red; 
  color:white; 
  border-radius:45px;
  padding:8px; 
  font-size:15px;
}	

 
.agenda_projet_compterendu
{
  display:flex;
  padding:5px;
  margin-left:3%;
  margin-top:15px;
  margin-bottom!30px;
}

.agenda_projet_compterendu li 
{
  width:30%;
  height:180px;
  border-radius:7px;
  border:1px solid purple;
  display:inline-block;
  padding:5px;
  margin-left:3%;
  margin-top:15px;
  transition-duration: 0.3s;
}
					   		   
.agenda_projet_compterendu li:hover,
.agenda_projet_compterendu li:focus,
.agenda_projet_compterendu li:active
{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
}	
	
.agenda_projet_compterendu li a
{
   color: grey;
}

.agenda_projet_compterendu li:hover
{
   background-color: orange;
}


.picto-rubrique
{
  width:70px;
  height:70px;
  float:left;
  margin-left:8px;
  margin-right:5px;
  border-radius:9px;
}


			
         /* -------------------- Partie Tabulation -------------------------- */
		
body 
{
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 14px;        
}


#tabs-container
{
  width:99%;
  // display:inline-block;
  float:left;
  margin:10px auto;
  padding:12px;
  border:1px solid red;
  height:450px;
}
			  

#tabs_block_menu
{
  border:1px solid blue;
  padding-top:5px;
  padding-left:5px;
  width:30%;
  height:410px;
  margin-left:7px;
  //display:inline-block;
  float:left;
}


#tabs_block_menu li
{
  list-style-type:none;
  width:130%;
  height:50px;
  margin:auto;
  border-radius:7px;
  margin-top:10px;
  padding-top:10px;
  border:1px solid green;
  text-align:center;
  transition-duration: 0.3s;
}

#tabs_block_menu li:hover,
#tabs_block_menu li:focus,
#tabs_block_menu li:active
{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
}				 

#tabs_block_menu a
{
  text-transform:uppercase;
}	 					 
				 
#tabs_block_menu li a:hover
{
  background-color:#0071b9;
  color:white;
}	 					 
				 
.tabs_contenu
{
  width:80%;
  min-height:350px;
  margin:auto;
  padding:7px;
  border:1px solid purple;
  border-radius:3px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
}

			  
 .tabs_contenu h3{
 text-align:center;
 color:blue;
 font-size:28px;
 font-weight:bold;
 font-family:arial;
 background-color!purple;
              }
			  
.tabs_contenu p{
 text-align:justify;
 color:grey;
 font-size:18px;
 font-family:roboto;
              }			  
			  
.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
           }


.tab-contenu {
 display:none;
            }
	
	
.tab-contenu.current {
        display:block;
                     }

 li.current a, li.current a:hover {
        background:#fff;
        color:#4c4c4c;
    }

			

.fichiers_a_introduction	{ /*
	width:500px;
	height:200px;
	border:2px dotted red;
	margin:5px;
	padding:5px;
                   */ }	

			